<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Talent Without Borders</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 mr-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <i class="fa fa-search"></i>
        Search
      </button>
    </form>
    <ul class="navbar-nav">
      <li>
        {{#if session.isAuthenticated}}
          <span class="mr-1 mt-1">
            <i class="fa fa-user"></i>
            {{#link-to "account"}}
              {{me.name}}
            {{/link-to}}
          </span>

          {{#link-to 'signout' class="btn btn-outline-primary"}}
            Logout
          {{/link-to}}
        {{else}}
          {{#link-to 'signin' class="btn btn-outline-primary"}}
            Login
          {{/link-to}}
        {{/if}}
      </li>
    </ul>

  </div>
</nav>